.menuBar{
   overflow-y: scroll;
   height: 100vh;
}
.redBook {
  width: 100%;
  height: 100%;
  .mask-top {
    position: fixed;
    height: 40upx;
    transition: all 0.2s;
    width: 100%;
    z-index: 1000;
    margin: auto;
    border-radius: 0 0 4px 4px;
  }
  .mask-bottom {
    position: fixed;
    height: 350upx;
    transition: all 0.2s;
    width: 100%;
    z-index: 1000;
    margin: auto;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    box-sizing: border-box;
    .v1 {
      width: 100%;
      display: flex;
      align-items: center;
      .slider-warp {
        display: flex;
        flex: 1;
        align-items: center;
        .slider {
          flex: 1;
        }
      }
    }
    .v2 {
      display: flex;
      width: 100%;
      justify-content: space-around;
      margin-top: 10px;
      .color-warp {
        border: 1px solid #6d583b;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .v3 {
      margin-top: 10px;
      .v3-item {
        width: 100px;
        height: 30px;
        background: #f7f7f7;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}